$principalcolor: #4361ee;
$principalHover: #2240c5;
$background-color: #f8f9fa;
$text-color: #333;
$border-radius: 8px;
$colorSecundario: #949494;
$color-shadow: rgba(0, 0, 0, 0.05);
$spacing: 1.5rem;
$transition: all 0.2s ease-in-out;